In [1]:
import pandas as pd

In [2]:
aba = pd.read_excel('REACH_ABA_Final_Datasets.xlsx', 'Administration_KI')
adm = pd.read_excel('Administration.xlsx', 'Fields_Tr')
choices = pd.read_excel('Administration.xlsx', 'choices')
survey = pd.read_excel('Administration.xlsx', 'survey')

In [3]:
adm.head()

,Column Name,Translation Flag,Position,df_index,question_name,option_name,type,list_name
0,start,NaN,1,0,start,NaN,start,NaN
1,end,NaN,2,1,end,NaN,end,NaN
2,date_assessment,NaN,3,2,date_assessment,NaN,today,NaN
3,deviceid,NaN,4,3,deviceid,NaN,deviceid,NaN
4,informed_consent,NaN,5,4,informed_consent,NaN,select_one,yes_no

In [4]:
questions = survey[survey.keep == 1][['name','type','label::English']]

In [5]:
questions.head()

             name               type         label::English
7         enum_id               text    Enter enumerator ID
9   facility_name               text       Name of Facility
10        name_KI               text  Name of Key Informant
11    KI_position               text               Position
12      gender_KI  select_one gender                 Gender

In [6]:
## index table
index = adm[['Column Name', 'df_index','question_name']]

In [7]:
index.head()

        Column Name  df_index     question_name
0             start         0             start
1               end         1               end
2   date_assessment         2   date_assessment
3          deviceid         3          deviceid
4  informed_consent         4  informed_consent

In [9]:
numbers = pd.Series(range(0, len(aba.columns)))
aba.columns = numbers

In [10]:
aba.head()

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
0,2017-06-06T12:17:45.830+03,2017-06-06T13:41:42.737+03,2017-06-06,354619079759782,Yes,SLOV_07,Военно-гражданская администрация Марьинка,Marinka Military - Civil Administration,Шавкун Ирина Дмитриевна,Iryna Shavkun,...,Marinskyi,1423300000,Donetska,1400000000,5,Yes,1423300000,Marinskyi,1400000000,Donetska
1,2017-05-26T10:05:55.245+03,2017-05-26T10:53:38.386+03,2017-05-26,354619078917910,Yes,SIEV_04,Попаснянский город совет,Popasna Town Council,Николенко Людмила Георгиевна,Liudmyla Nikolenko,...,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,Popasnianskyi,4400000000,Luhanska
2,2017-06-07T11:05:14.934+03,2017-06-07T11:43:18.209+03,2017-06-07,354619079753736,Yes,SLOV_05,Новотроицкий сельский совет,Novotroitske Village Council,Ворожбит Александр Григорьевич,Oleksandr Vorozhbit,...,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,Volnovaskyi,1400000000,Donetska
3,2017-05-30T12:40:01.807+03,2017-05-30T13:24:32.778+03,2017-05-30,354619078917803,Yes,SIEV_02,Станично Луганский сельский совет,Stanytsia Luhanska Village Council,Гавриш Зинаида Андреевна,Zinaida Havrysh,...,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,Stanychno-Luhanskyi,4400000000,Luhanska
4,2017-06-01T09:09:09.972+03,2017-06-01T09:40:30.042+03,2017-06-01,354619079753736,Yes,SLOV_05,Талаковский сельский совет,Talakivka Village Council,Салгалов Вячеслав Сергеевич,Viacheslav Salhalov,...,Mariupolska,1412300000,Donetska,1400000000,4,Yes,1412300000,Mariupolska,1400000000,Donetska

In [11]:
id_vars_index = index['Column Name'].isin(['_id', 'KOATUU', 'Relevant Settlement', 'Raion_Name', 
                                      'Raion_KOATUU', 'Oblast_Name', 'Oblast_KOATUU', 'BSU ID',
                                      'Include', 'Admin2', 'Admin2_Name', 'Admin1', 'Admin1_Name'])

data_unpivoted = pd.melt(aba, id_vars=list(index['df_index'][id_vars_index]))

# data_unpivoted = pd.melt(aba, id_vars=index['df_index'][index['Column Name'].isin(['_id', 'KOATUU', 'Relevant Settlement', 'Raion_Name', 
#                                       'Raion_KOATUU', 'Oblast_Name', 'Oblast_KOATUU', 'BSU ID',
#                                       'Include', 'Admin2', 'Admin2_Name', 'Admin1', 'Admin1_Name'])])

In [12]:
data_unpivoted.head()

,129,132,133,134,135,136,137,138,139,140,141,142,143,variable,value
0,4059928,1423310100,Marinka,Marinskyi,1423300000,Donetska,1400000000,5,Yes,1423300000,Marinskyi,1400000000,Donetska,0,2017-06-06T12:17:45.830+03
1,3898507,4423810100,Popasna,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,Popasnianskyi,4400000000,Luhanska,0,2017-05-26T10:05:55.245+03
2,4079745,1421556800,Novotroitske,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,Volnovaskyi,1400000000,Donetska,0,2017-06-07T11:05:14.934+03
3,3960135,4424855100,Stanytsia Luhanska,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,Stanychno-Luhanskyi,4400000000,Luhanska,0,2017-05-30T12:40:01.807+03
4,3989845,1412365800,Talakivka,Mariupolska,1412300000,Donetska,1400000000,4,Yes,1412300000,Mariupolska,1400000000,Donetska,0,2017-06-01T09:09:09.972+03

In [13]:
data_unpivoted = data_unpivoted.merge(adm, left_on='variable', 
                    right_on = 'df_index', how='left')

In [14]:
data_unpivoted

,129,132,133,134,135,136,137,138,139,140,...,variable,value,Column Name,Translation Flag,Position,df_index,question_name,option_name,type,list_name
0,4059928,1423310100,Marinka,Marinskyi,1423300000,Donetska,1400000000,5,Yes,1423300000,...,0,2017-06-06T12:17:45.830+03,start,NaN,1,0,start,NaN,start,NaN
1,3898507,4423810100,Popasna,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-05-26T10:05:55.245+03,start,NaN,1,0,start,NaN,start,NaN
2,4079745,1421556800,Novotroitske,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,0,2017-06-07T11:05:14.934+03,start,NaN,1,0,start,NaN,start,NaN
3,3960135,4424855100,Stanytsia Luhanska,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-05-30T12:40:01.807+03,start,NaN,1,0,start,NaN,start,NaN
4,3989845,1412365800,Talakivka,Mariupolska,1412300000,Donetska,1400000000,4,Yes,1412300000,...,0,2017-06-01T09:09:09.972+03,start,NaN,1,0,start,NaN,start,NaN
5,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,2017-05-16T13:31:19.305+03,start,NaN,1,0,start,NaN,start,NaN
6,3956572,1421588801,Hranitne,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,0,2017-05-30T10:40:40.744+03,start,NaN,1,0,start,NaN,start,NaN
7,3898506,4423810800,Zolote,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-05-22T11:41:52.367+03,start,NaN,1,0,start,NaN,start,NaN
8,3698759,1420910600,Svitlodarsk,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,2017-05-17T12:27:12.076+03,start,NaN,1,0,start,NaN,start,NaN
9,3806532,1411270300,Artemove,Dzerzhynska,1411200000,Donetska,1400000000,3,Yes,1411200000,...,0,2017-05-22T10:36:32.754+03,start,NaN,1,0,start,NaN,start,NaN
10,3807068,4423810500,Hirske,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-05-22T16:21:39.064+03,start,NaN,1,0,start,NaN,start,NaN
11,3877920,4424855400,Petrivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-05-25T11:25:52.738+03,start,NaN,1,0,start,NaN,start,NaN
12,3878037,4423110100,Shchastia,Novoaidarskyi,4423100000,Luhanska,4400000000,6,Yes,4423100000,...,0,2017-05-25T12:27:54.824+03,start,NaN,1,0,start,NaN,start,NaN
13,4008382,4423187702,Kriakivka,Novoaidarskyi,4423100000,Luhanska,4400000000,6,Yes,4423100000,...,0,2017-06-02T11:05:34.921+03,start,NaN,1,0,start,NaN,start,NaN
14,4008384,4423187701,Trokhizbenka,Novoaidarskyi,4423100000,Luhanska,4400000000,6,Yes,4423100000,...,0,2017-06-02T14:28:37.502+03,start,NaN,1,0,start,NaN,start,NaN
15,4096758,4423881102,Katerynivka,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-06-08T11:46:52.605+03,start,NaN,1,0,start,NaN,start,NaN
16,4096895,4424883504,Serednoteple,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-06-08T14:34:23.749+03,start,NaN,1,0,start,NaN,start,NaN
17,4097352,4423856200,Vrubivka,Popasnianskyi,4423800000,Luhanska,4400000000,7,No,4423800000,...,0,2017-06-08T10:12:50.030+03,start,NaN,1,0,start,NaN,start,NaN
18,4097354,4423856202,Novoivanivka,Popasnianskyi,4423800000,Luhanska,4400000000,7,No,4423800000,...,0,2017-06-08T11:52:12.156+03,start,NaN,1,0,start,NaN,start,NaN
19,4097798,4424880504,Makarove,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-06-08T15:48:52.298+03,start,NaN,1,0,start,NaN,start,NaN
20,4097799,4424880501,Valuiske,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-06-08T15:49:30.420+03,start,NaN,1,0,start,NaN,start,NaN
21,4097800,4424880502,Bolotene,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-06-08T15:48:38.523+03,start,NaN,1,0,start,NaN,start,NaN
22,4097801,4424880505,Syze,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-05-31T11:56:43.910+03,start,NaN,1,0,start,NaN,start,NaN
23,4097806,4424880503,Vilkhove,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-06-08T15:48:32.316+03,start,NaN,1,0,start,NaN,start,NaN
24,4113306,4423885202,Novozvanivka,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-06-09T10:19:04.085+03,start,NaN,1,0,start,NaN,start,NaN
25,4141255,4423856900,Komyshuvakha,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-06-12T09:55:26.486+03,start,NaN,1,0,start,NaN,start,NaN
26,4141257,4423856905,Nyrkove,Popasnianskyi,4423800000,Luhanska,4400000000,7,No,4423800000,...,0,2017-06-12T10:36:31.345+03,start,NaN,1,0,start,NaN,start,NaN
27,4146373,4423856902,Viktorivka,Popasnianskyi,4423800000,Luhanska,4400000000,7,No,4423800000,...,0,2017-06-12T11:05:00.712+03,start,NaN,1,0,start,NaN,start,NaN
28,4146374,4423856906,Oleksandropillia,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-06-12T11:23:00.367+03,start,NaN,1,0,start,NaN,start,NaN
29,4146375,4423856904,Druzhba,Popasnianskyi,4423800000,Luhanska,4400000000,7,No,4423800000,...,0,2017-06-12T11:41:12.994+03,start,NaN,1,0,start,NaN,start,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,4173355,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,81,_index,NaN,132,131,_index,NaN,NaN,NaN
10975,4096761,4424883503,Pishchane,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,131,53,_index,NaN,132,131,_index,NaN,NaN,NaN
10976,4113963,4424884505,Pshenychne,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,66,_index,NaN,132,131,_index,NaN,NaN,NaN
10977,4097356,4424883501,Nyzhnoteple,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,131,58,_index,NaN,132,131,_index,NaN,NaN,NaN
10978,4146895,4424884501,Nyzhnia Vilkhova,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,79,_index,NaN,132,131,_index,NaN,NaN,NaN
10979,3989890,1421585801,Pavlopil,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,131,36,_index,NaN,132,131,_index,NaN,NaN,NaN
10980,4173356,4424885003,Staryi Aidar,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,131,82,_index,NaN,132,131,_index,NaN,NaN,NaN
10981,4114009,4424884502,Verkhnia Vilkhova,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,68,_index,NaN,132,131,_index,NaN,NaN,NaN
10982,4114154,4424884504,Plotyna,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,69,_index,NaN,132,131,_index,NaN,NaN,NaN
10983,3825654,4423881502,Orikhove,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,131,12,_index,NaN,132,131,_index,NaN,NaN,NaN
10984,3853666,1425586501,Rozivka,Yasynuvatskyi,1425500000,Donetska,1400000000,3,No,1425500000,...,131,13,_index,NaN,132,131,_index,NaN,NaN,NaN
10985,4113969,4424884503,Malynove,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,131,67,_index,NaN,132,131,_index,NaN,NaN,NaN
10986,3957035,1421587702,Novohryhorivka,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,131,30,_index,NaN,132,131,_index,NaN,NaN,NaN
10987,3989892,1421585802,Pyshchevyk,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,131,37,_index,NaN,132,131,_index,NaN,NaN,NaN
10988,3874676,1425582104,Novoselivka Druha,Yasynuvatskyi,1425500000,Donetska,1400000000,1,Yes,1425500000,...,131,18,_index,NaN,132,131,_index,NaN,NaN,NaN
10989,3874680,1425582102,Vesele,Yasynuvatskyi,1425500000,Donetska,1400000000,1,Yes,1425500000,...,131,19,_index,NaN,132,131,_index,NaN,NaN,NaN
10990,3874684,1425582103,Kamianka,Yasynuvatskyi,1425500000,Donetska,1400000000,1,Yes,1425500000,...,131,20,_index,NaN,132,131,_index,NaN,NaN,NaN
10991,3989627,1421583703,Sopyne,Volnovaskyi,1421500000,Donetska,1400000000,4,No,1421500000,...,131,34,_index,NaN,132,131,_index,NaN,NaN,NaN
10992,3989895,1421585803,Chernenko,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,131,38,_index,NaN,132,131,_index,NaN,NaN,NaN
10993,4008383,4423187703,Orikhove-Donetske,Novoaidarskyi,4423100000,Luhanska,4400000000,6,Yes,4423100000,...,131,44,_index,NaN,132,131,_index,NaN,NaN,NaN
10994,4079732,1423387405,Taramchuk,Marinskyi,1423300000,Donetska,1400000000,5,Yes,1423300000,...,131,50,_index,NaN,132,131,_index,NaN,NaN,NaN
10995,4097176,4424883502,Artema,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,131,55,_index,NaN,132,131,_index,NaN,NaN,NaN
10996,4146896,4424855401,Voitove,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,80,_index,NaN,132,131,_index,NaN,NaN,NaN
10997,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,83,_index,NaN,132,131,_index,NaN,NaN,NaN
10998,3724351,1420985001,Kodema,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,131,3,_index,NaN,132,131,_index,NaN,NaN,NaN
10999,3748049,1410665600,Zaitseve,Horlivska,1410600000,Donetska,1400000000,3,Yes,1410600000,...,131,6,_index,NaN,132,131,_index,NaN,NaN,NaN
11000,3806668,1411246500,Novhorodske,Dzerzhynska,1411200000,Donetska,1400000000,3,Yes,1411200000,...,131,10,_index,NaN,132,131,_index,NaN,NaN,NaN
11001,3875377,1425555200,Verkhnotoretske,Yasynuvatskyi,1425500000,Donetska,1400000000,3,Yes,1425500000,...,131,21,_index,NaN,132,131,_index,NaN,NaN,NaN
11002,3991035,4424884501,Nyzhnia Vilkhova,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,131,40,_index,NaN,132,131,_index,NaN,NaN,NaN
11003,4113068,1410200000,Avdiivka,Avdiivska,1410200000,Donetska,1400000000,1,Yes,1410200000,...,131,64,_index,NaN,132,131,_index,NaN,NaN,NaN

In [15]:
names = pd.Series(index['Column Name'][index.df_index.isin(data_unpivoted.columns[pd.Series(data_unpivoted.columns.values).str.isnumeric() != False])])
names = names.append(pd.Series(data_unpivoted.columns[pd.Series(data_unpivoted.columns.values).str.isnumeric() == False])).reset_index(drop=True)
data_unpivoted.columns = names
data_unpivoted.head()

,_id,KOATUU,Relevant Settlement,Raion_Name,Raion_KOATUU,Oblast_Name,Oblast_KOATUU,BSU ID,Include,Admin2,...,variable,value,Column Name,Translation Flag,Position,df_index,question_name,option_name,type,list_name
0,4059928,1423310100,Marinka,Marinskyi,1423300000,Donetska,1400000000,5,Yes,1423300000,...,0,2017-06-06T12:17:45.830+03,start,NaN,1,0,start,NaN,start,NaN
1,3898507,4423810100,Popasna,Popasnianskyi,4423800000,Luhanska,4400000000,7,Yes,4423800000,...,0,2017-05-26T10:05:55.245+03,start,NaN,1,0,start,NaN,start,NaN
2,4079745,1421556800,Novotroitske,Volnovaskyi,1421500000,Donetska,1400000000,4,Yes,1421500000,...,0,2017-06-07T11:05:14.934+03,start,NaN,1,0,start,NaN,start,NaN
3,3960135,4424855100,Stanytsia Luhanska,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,Yes,4424800000,...,0,2017-05-30T12:40:01.807+03,start,NaN,1,0,start,NaN,start,NaN
4,3989845,1412365800,Talakivka,Mariupolska,1412300000,Donetska,1400000000,4,Yes,1412300000,...,0,2017-06-01T09:09:09.972+03,start,NaN,1,0,start,NaN,start,NaN

In [16]:
choices.head()

   list_name    name label::English label::Russian  Oblast
0     gender    male           male        Мужской     NaN
1     gender  female         female        Женский     NaN
2     yes_no     yes            Yes             Да     NaN
3     yes_no      no             No            Нет     NaN
4  yes_no_dn     yes            Yes             Да     NaN

In [17]:
# res_ = data_unpivoted.merge(choices[['name', 'label::English']].drop_duplicates(subset=['name', 'label::English']), 
#                            left_on='option_name', 
#                            right_on='name', how='left').sort_values('_id').reset_index(drop=True)

In [18]:
res = data_unpivoted.merge(choices, 
                           left_on=['option_name','list_name'], 
                           right_on=['name','list_name'], how='left').sort_values('_id').reset_index(drop=True)

In [19]:
res.head()

,_id,KOATUU,Relevant Settlement,Raion_Name,Raion_KOATUU,Oblast_Name,Oblast_KOATUU,BSU ID,Include,Admin2,...,Position,df_index,question_name,option_name,type,list_name,name,label::English,label::Russian,Oblast
0,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,71,70,admin_q9_integer,NaN,integer,NaN,NaN,NaN,NaN,NaN
1,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,132,131,_index,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,41,40,admin_q3,admin_q3_option11,select_multiple,admin_q3_options,admin_q3_option11,Don't know,Не знаю,NaN
3,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,44,43,admin_q4,NaN,select_multiple,admin_q4_options,NaN,NaN,NaN,NaN
4,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,90,89,local_rented_integer,NaN,select_one,admin_perc_range,NaN,NaN,NaN,NaN

In [20]:
res.drop(['name', 'label::Russian', 'Oblast'],axis=1, inplace=True)

In [21]:
# П.С. choices[['name', 'label::English']].drop_duplicates(subset=['name', 'label::English']) такой же размер рез матр
# .drop('df_index', axis=1, inplace=True)

res.rename(columns={'Column Name': 'column_name', 'label::English': 'option_label'}, inplace=True)
# res['question_label'] = res['question_label'].str.replace('\?/', '*')
# res['question_label'] = res['question_label'].str.split('*', expand=True)
res

,_id,KOATUU,Relevant Settlement,Raion_Name,Raion_KOATUU,Oblast_Name,Oblast_KOATUU,BSU ID,Include,Admin2,...,value,column_name,Translation Flag,Position,df_index,question_name,option_name,type,list_name,option_label
0,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,2919,What is the number of male population?,NaN,71,70,admin_q9_integer,NaN,integer,NaN,NaN
1,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1,_index,NaN,132,131,_index,NaN,NaN,NaN,NaN
2,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,Which basic services are delivered WHOLLY or P...,NaN,41,40,admin_q3,admin_q3_option11,select_multiple,admin_q3_options,Don't know
3,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,Lack of budget to deliver services Technical c...,What are the key concerns for local governance...,NaN,44,43,admin_q4,NaN,select_multiple,admin_q4_options,NaN
4,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0-20%,What is the % of households living in rented a...,NaN,90,89,local_rented_integer,NaN,select_one,admin_perc_range,NaN
5,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1000,What the number of unemployed population?,NaN,77,76,admin_q15_integer,NaN,integer,NaN,NaN
6,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,Калачинск Светлана Викторовна,Name of Key Informant,NaN,9,8,name_KI,NaN,text,NaN,NaN
7,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,Which basic services are delivered WHOLLY or P...,NaN,40,39,admin_q3,admin_q3_option10,select_multiple,admin_q3_options,Other (specify)
8,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,Translation_Please specify:,1.0,54,53,NaN,NaN,NaN,NaN,NaN
9,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,30,What is the number of household without gas (t...,NaN,100,99,admin_q28_integer,NaN,integer,NaN,NaN
10,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,Translation_Please specify:,1.0,43,42,NaN,NaN,NaN,NaN,NaN
11,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1,Which basic services are delivered WHOLLY or P...,NaN,33,32,admin_q3,admin_q3_option3,select_multiple,admin_q3_options,Gas
12,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,2017-05-16T14:01:00.155+03,end,NaN,2,1,end,NaN,end,NaN,NaN
13,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,What is a number of small employers in the com...,NaN,104,103,financial_small,NaN,integer,NaN,NaN
14,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,300,What is the number of people displaced by conf...,NaN,74,73,admin_q12_integer,NaN,integer,NaN,NaN
15,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,Мироновский поселковый совет,Name of Facility,NaN,7,6,facility_name,NaN,text,NaN,NaN
16,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,Translation_Please specify:,1.0,68,67,NaN,NaN,NaN,NaN,NaN
17,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,32,What is a number of small employers in the com...,NaN,103,102,commercial_small,NaN,integer,NaN,NaN
18,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,"YES, it's possible to enter the data",Is the KI ready to share the data now?,NaN,69,68,data_sharing,NaN,select_one,data_sharing,NaN
19,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,Translation_Where do people go to the hospital?,1.0,85,84,NaN,NaN,NaN,NaN,NaN
20,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,48.4618,_I5. Record the current location_latitude,NaN,124,123,_gpslocation_latitude,NaN,NaN,NaN,NaN
21,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,"Infrastructure (connectivity, electricity, WAS...",What are the three basic service sectors causi...,NaN,58,57,admin_q7,NaN,select_multiple,admin_q7_options,NaN
22,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1,Which basic services are delivered WHOLLY or P...,NaN,39,38,admin_q3,admin_q3_option9,select_multiple,admin_q3_options,Social services
23,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,What are the three basic service sectors causi...,NaN,61,60,admin_q7,admin_q7_option3,select_multiple,admin_q7_options,Education
24,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0-20%,What is the % of households living in other ty...,NaN,93,92,IDP_other_integer,NaN,select_one,admin_perc_range,NaN
25,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,101-150,How many HHs are currently in need of shelter ...,NaN,98,97,shelter_assist_need,NaN,select_one,shelter_assist_need,NaN
26,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,0,What are the three basic service sectors causi...,NaN,66,65,admin_q7,admin_q7_option8,select_multiple,admin_q7_options,Don't know
27,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,954964771,Phone number,NaN,14,13,phone,NaN,text,NaN,NaN
28,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,Myronivskyi Village Council,Translation_Name of Facility,1.0,8,7,NaN,NaN,NaN,NaN,NaN
29,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,Коммунальное предприятие сдает забор воды на а...,How is water quality tested in the community?,NaN,117,116,admin_q36_integer,NaN,text,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,What is a number of medium-size employers in t...,NaN,109,108,consultation_medium,NaN,integer,NaN,NaN
10975,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,NaN,Translation_Please specify:,1.0,54,53,NaN,NaN,NaN,NaN,NaN
10976,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Peredilske,I3. Please select current settlement/village,NaN,121,120,current_village,NaN,select_one,settlement_current,NaN
10977,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,Which basic services are delivered ENTIRELY by...,NaN,23,22,admin_q2,admin_q2_option6,select_multiple,admin_q2_options,Food Aid
10978,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,"Out of all amount of people under 18, what is...",NaN,82,81,admin_q20_integer,NaN,integer,NaN,NaN
10979,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,Which basic services are delivered WHOLLY or P...,NaN,34,33,admin_q3,admin_q3_option4,select_multiple,admin_q3_options,Education
10980,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,SIEV_06,Enter enumerator ID,NaN,6,5,enum_id,NaN,text,NaN,NaN
10981,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Petropavlivka,Translation_Where do people go to the hospital?,1.0,85,84,NaN,NaN,NaN,NaN,NaN
10982,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,84,What is the number of total population?,NaN,70,69,admin_q8_integer,NaN,integer,NaN,NaN
10983,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,81-100%,"Out of these, could you estimate the percentag...",NaN,99,98,shelter_dmg_lived,NaN,select_one,admin_perc_range,NaN
10984,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,354619078933503,deviceid,NaN,4,3,deviceid,NaN,deviceid,NaN,NaN
10985,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Village council,"Translation_IF YES, Which ones?",1.0,57,56,NaN,NaN,NaN,NaN,NaN
10986,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Peredilske Village Council,Translation_Name of Facility,1.0,8,7,NaN,NaN,NaN,NaN,NaN
10987,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,Which basic services are delivered WHOLLY or P...,NaN,40,39,admin_q3,admin_q3_option10,select_multiple,admin_q3_options,Other (specify)
10988,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0-20%,What is the % of households living in other ty...,NaN,93,92,IDP_other_integer,NaN,select_one,admin_perc_range,NaN
10989,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,No testing,Translation_How is water quality tested in the...,1.0,118,117,NaN,NaN,NaN,NaN,NaN
10990,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,What is a number of small employers in the com...,NaN,105,104,consultation_small,NaN,integer,NaN,NaN
10991,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,What are the three basic service sectors causi...,NaN,60,59,admin_q7,admin_q7_option2,select_multiple,admin_q7_options,"Infrastructure (connectivity, electricity, WAS..."
10992,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,Which basic services are delivered WHOLLY or P...,NaN,32,31,admin_q3,admin_q3_option2,select_multiple,admin_q3_options,Electricity
10993,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,NaN,_I5. Record the current location_altitude,NaN,126,125,_gpslocation_altitude,NaN,NaN,NaN,NaN
10994,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,What are the three basic service sectors causi...,NaN,61,60,admin_q7,admin_q7_option3,select_multiple,admin_q7_options,Education
10995,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,What is the number of homes damaged/destroyed ...,NaN,97,96,heavy_dmg_integer,NaN,integer,NaN,NaN
10996,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,female,Gender,NaN,13,12,gender_KI,NaN,select_one,gender,NaN
10997,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Центральная 100,Please enter street name and house number,NaN,128,127,location_manual,NaN,text,NaN,NaN
10998,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,1,What is the number of homes damaged/destroyed ...,NaN,96,95,medium_dmg_integer,NaN,integer,NaN,NaN
10999,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Счастье,Where do people go to the pharmacy?,NaN,87,86,admin_q24_integer,NaN,text,NaN,NaN
11000,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,0,What are the three basic service sectors causi...,NaN,65,64,admin_q7,admin_q7_option7,select_multiple,admin_q7_options,other (specify)
11001,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,a71472a1-5d62-4939-8b0d-92b94454b7b7,_uuid,NaN,131,130,_uuid,NaN,NaN,NaN,NaN
11002,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,NaN,Please specify:,NaN,28,27,admin_q2_other,NaN,text,NaN,NaN
11003,4173656,4424885002,Heivka,Stanychno-Luhanskyi,4424800000,Luhanska,4400000000,6,No,4424800000,...,Yes,informed_consent,NaN,5,4,informed_consent,NaN,select_one,yes_no,NaN

In [22]:
res = res.merge(questions, left_on='question_name', right_on='name', how='left').drop(['name','type_y'],axis=1).sort_values(['_id','Position']).reset_index(drop=True)

In [23]:
res.rename(columns={'type_x': 'type', 'label::English': 'question_label'}, inplace=True)

In [24]:
res['options'] = ''
# res.loc[(res.type == 'select_multiple') & ~(res.option_label == np.nan), 'options'] = 1
res.loc[(res.type == 'select_multiple') & pd.notnull(res.option_label), 'options'] = 1

In [25]:
res[:20]

,_id,KOATUU,Relevant Settlement,Raion_Name,Raion_KOATUU,Oblast_Name,Oblast_KOATUU,BSU ID,Include,Admin2,...,Translation Flag,Position,df_index,question_name,option_name,type,list_name,option_label,question_label,options
0,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,1,0,start,NaN,start,NaN,NaN,NaN,
1,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,2,1,end,NaN,end,NaN,NaN,NaN,
2,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,3,2,date_assessment,NaN,today,NaN,NaN,NaN,
3,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,4,3,deviceid,NaN,deviceid,NaN,NaN,NaN,
4,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,5,4,informed_consent,NaN,select_one,yes_no,NaN,NaN,
5,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,6,5,enum_id,NaN,text,NaN,NaN,Enter enumerator ID,
6,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,7,6,facility_name,NaN,text,NaN,NaN,Name of Facility,
7,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1.0,8,7,NaN,NaN,NaN,NaN,NaN,NaN,
8,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,9,8,name_KI,NaN,text,NaN,NaN,Name of Key Informant,
9,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1.0,10,9,NaN,NaN,NaN,NaN,NaN,NaN,
10,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,11,10,KI_position,NaN,text,NaN,NaN,Position,
11,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1.0,12,11,NaN,NaN,NaN,NaN,NaN,NaN,
12,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,13,12,gender_KI,NaN,select_one,gender,NaN,Gender,
13,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,14,13,phone,NaN,text,NaN,NaN,Phone number,
14,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,15,14,admin_q1,NaN,text,NaN,NaN,Which administrative services does the communi...,
15,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,1.0,16,15,NaN,NaN,NaN,NaN,NaN,NaN,
16,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,17,16,admin_q2,NaN,select_multiple,admin_q2_options,NaN,Which basic services are delivered ENTIRELY by...,
17,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,18,17,admin_q2,admin_q2_option1,select_multiple,admin_q2_options,Water,Which basic services are delivered ENTIRELY by...,1
18,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,19,18,admin_q2,admin_q2_option2,select_multiple,admin_q2_options,Electricity,Which basic services are delivered ENTIRELY by...,1
19,3681289,1420955500,Myronivskyi,Bakhmutskyi,1420900000,Donetska,1400000000,2,Yes,1420900000,...,NaN,20,19,admin_q2,admin_q2_option3,select_multiple,admin_q2_options,Gas,Which basic services are delivered ENTIRELY by...,1

In [26]:
writer = pd.ExcelWriter('Result.xlsx')
res.to_excel(writer, sheet_name='Administration', index=False)
writer.save()